In [3]:
import pandas as pd
from roman import toRoman

In [4]:
sem_sheet = "C:/Users/91989/Documents/OneDrive/ABC_Data_Entry/SEM-V_master sheet.xls"
UTD_file = "C:/Users/91989/Documents/OneDrive/ABC_Data_Entry/UTD.csv"
all_sem_file = "C:/Users/91989/Documents/OneDrive/ABC_Data_Entry/student_detail_new5.xls"
abc_file = "C:/Users/91989/Documents/OneDrive/ABC_Data_Entry/ABC ID's_2022_new.xlsx"

In [37]:

# -----------------------------
# Step 1: Read the Excel file
# -----------------------------
# Load the Excel file without headers so that rows and columns can be accessed by their index.
df_excel = pd.read_excel(sem_sheet, header=None)
df_excel

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,Date of Issue:,22 Sepember 2025,NaN,NaN,IN6A-301,IN6A-303,IN6A-303,IN6A-305,IN6A-305,IN6A-307,IN6A-307,IN6A-311,IN6A-311,IN6A-331,NaN,NaN,NaN,NaN,NaN,NaN
1,Sr No.,Student Name,Roll Number,Enrolment Number,Process Control and Automation,Microcontroller Based System Design TH,Microcontroller Based System Design PR,Data Communication TH,Data Communication PR,Signal and Systems TH,Signal and Systems PR,Optimization Algorithms and Techniques TH,Optimization Algorithms and Techniques PR,Comprehensive Viva Voce,SGPA,Result,Sem-1,Sem-2,Sem-3,Sem-4
2,NaN,NaN,NaN,Credits :-,4,3,2,3,2,4,2,4,2,4,NaN,NaN,6,6,6,6
3,1,Adarsh Jat,22IOT5001,DE2202031,B+,C,A+,B,A+,A,A+,A,A+,A,7.633,PASS,6.857,6.733,7.071,7.548
4,2,Akshay kumar Diwaker,22IOT5002,DE2202225,C,P,A,P,A,C,A,B,A,B+,6,PASS,5.857,6,5.714,5.774
5,3,Ananya Goyal,22IOT5003,DE2202284,P,F,B+,C,B+,C,B+,B+,B+,B+,5.433,ATKT,5.857,6.4,6.5,6.065
6,4,Ananya Tewari,22IOT5004,DE2202272,C,P,A,P,A,C,A,B,A,B+,6,PASS,6.286,5.7,5.786,6.161
7,5,Aniket Arya,22IOT5005,DE2202118,B,P,B+,P,B+,P,B+,B+,B+,B+,5.867,PASS,5,5.567,5.143,5.42
8,6,Anustha Tewari,22IOT5006,DE2202273,P,F,B+,C,B+,P,B+,C,B+,B+,5.033,ATKT,5.714,5.533,5.357,5.03
9,7,Aryan Vishwakarma,22IOT5007,DE2202032,A+,B,O,B+,O,A,O,A+,O,O,8.767,PASS,8.286,8.6,8.857,8.968
10,8,Ayushi Richhariya,22IOT5008,DE2202285,A,C,A+,B+,A+,B+,A+,A,A+,A,7.733,PASS,6.571,6.3,6.786,7.032
11,9,Deepak Sisodiya,22IOT5009,DE2202119,A,C,O,A+,O,A,O,A,O,A+,8.467,PASS,6.714,7.033,7.357,7.097
12,10,Harsh Soni,22IOT5010,DE2202165,B,C,B+,F,B+,P,B+,B,B+,B+,5.433,ATKT,5.143,5.8,6,5.903
13,11,Harshit Parmar,22IOT5011,DE2202081,A+,B,A+,B+,A+,A,A+,O,A+,A+,8.5,PASS,7.429,7.067,7.786,8.548
14,12,Khusbhu Patel,22IOT5012,DE2202082,A,P,A+,B,A+,A,A+,A+,A+,A+,7.933,PASS,7.571,7.867,7.714,7.935
15,13,Kushagra Sharma,22IOT5013,DE2202083,B+,B,A+,B+,A+,B+,A+,A,A+,A+,7.833,PASS,7.286,6.8,7.5,7.387
16,14,Param Sahu,22IOT5014,DE2202120,A,B+,O,A+,O,O,O,A+,O,O,9.2,PASS,9,9.167,9.143,9.323
17,15,Pooja Patel,22IOT5015,DE2202084,A+,B,O,A+,O,B+,O,A+,O,A+,8.7,PASS,7.714,8.433,7.857,8.548
18,16,Pragya Singh,22IOT5016,DE2202166,A+,B+,O,A+,O,A+,O,A+,O,O,9.2,PASS,8.571,8.567,8.643,8.387
19,17,Seema Patidar,22IOT5017,DE2202121,B,P,A,A,A,A,A,B+,A,A+,7.333,PASS,7.286,7.4,7.286,7.419
20,18,Shrashti Vinayak,22IOT5019,DE2202122,B+,C,A+,B+,A+,B+,A+,B+,A+,A+,7.6,PASS,7.857,7.433,7.786,7.613
21,19,Shubham Yadav,22IOT5020,DE2202085,B+,C,A,B,A,P,A,B+,A,A,6.7,PASS,7.286,6.733,6.214,5.71
22,20,Vaibhav Singh,22IOT5021,DE2202167,C,C,A,C,A,B+,A,B+,A,A,6.733,PASS,6.714,6.2,6.5,6.613
23,21,Vaidish Joshi,22IOT5022,DE2202291,B+,P,A+,B,A+,B,A+,A+,A+,A+,7.533,PASS,5.714,5.8,6.143,5.903
24,22,Vishesh Chourasiya,22IOT5023,DE2202086,C,P,B+,B,B+,B+,B+,C,B+,A,6.2,PASS,5.714,6.4,7,6.226

In [6]:
df_all_sem = pd.read_excel(all_sem_file, header=3)
df_all_sem

,Sr No,Name,Roll No.,Enrolment No.,Father’s Name,Mother’s Name,Sem1,Sem2,Sem3,Sem4,...,Attempt_2,Attempt_3,Attempt_4,Attempt_5,Attempt_6,Attempt_7,Attempt_8,Attempt_9,Attempt_10,Comment
0,1.0,Adarsh Jat,22IOT5001,DE2202031,Mr. Bharat,Mrs. Manisha,6.857,6.733,7.071,7.548,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
1,2.0,Akshay kumar Diwaker,22IOT5002,DE2202225,Mr. Rakesh Kumar,Mrs. Anita,5.857,6.000,5.714,5.774,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
2,3.0,Ananya Goyal,22IOT5003,DE2202284,Mr. Pawan,Mrs. Monika,5.857,6.400,6.500,6.065,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
3,4.0,Ananya Tewari,22IOT5004,DE2202272,Mr. Hemant Kumar,Mrs. Rajni,6.286,5.700,5.786,6.161,...,2.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
4,5.0,Aniket Arya,22IOT5005,DE2202118,Mr. Sundarlal,Mrs. Rachna,5.000,5.567,5.143,5.420,...,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,
5,6.0,Anustha Tewari,22IOT5006,DE2202273,Mr. Hemant Kumar,Mrs. Rajni,5.714,5.533,5.357,5.030,...,2.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,
6,7.0,Aryan Vishwakarma,22IOT5007,DE2202032,Mr. Amresh,Mrs. Kalpana,8.286,8.600,8.857,8.968,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
7,8.0,Ayushi Richhariya,22IOT5008,DE2202285,Mr. Arun kumar,Mrs. Anjali,6.571,6.300,6.786,7.032,...,2.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
8,9.0,Deepak Sisodiya,22IOT5009,DE2202119,Mr. Narendra,Mrs. Chanda,6.714,7.033,7.357,7.097,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
9,10.0,Harsh Soni,22IOT5010,DE2202165,Mr. Dinesh kumar,Mrs. Sunita,5.143,5.800,6.000,5.903,...,1.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,
10,11.0,Harshit Parmar,22IOT5011,DE2202081,Mr. Kailash Chandra,Mrs. Archana,7.429,7.067,7.786,8.548,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
11,12.0,Khusbhu Patel,22IOT5012,DE2202082,Mr. Hareram,Mrs. Durga,7.571,7.867,7.714,7.935,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
12,13.0,Kushagra Sharma,22IOT5013,DE2202083,Mr. Yogesh,Mrs. Shweta,7.286,6.800,7.500,7.387,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
13,14.0,Param Sahu,22IOT5014,DE2202120,Mr. Ashok,Mrs. Rekha,9.000,9.167,9.143,9.323,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
14,15.0,Pooja Patel,22IOT5015,DE2202084,Mr. Hareram,Mrs. Durga,7.714,8.433,7.857,8.548,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
15,16.0,Pragya Singh,22IOT5016,DE2202166,Mr. Rajeshwar,Mrs. Geeta,8.571,8.567,8.643,8.387,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
16,17.0,Seema Patidar,22IOT5017,DE2202121,Mr. Kanhaiyalal,Mrs. Laxmi,7.286,7.400,7.286,7.419,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
17,18.0,Shrashti Vinayak,22IOT5019,DE2202122,Mr. Rahul,Mrs. Rakhi,7.857,7.433,7.786,7.613,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
18,19.0,Shubham Yadav,22IOT5020,DE2202085,Mr. Radhakrishna,Mrs. Puspha,7.286,6.733,6.214,5.710,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
19,20.0,Vaibhav Singh,22IOT5021,DE2202167,Mr. Vikram,Mrs. Nand,6.714,6.200,6.500,6.613,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
20,21.0,Vaidish Joshi,22IOT5022,DE2202291,Mr. Vinay,Mrs. Sheetal,5.714,5.800,6.143,5.903,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
21,22.0,Vishesh Chourasiya,22IOT5023,DE2202086,Mr. Mukesh kumar,Mrs. Pooja,5.714,6.400,7.000,6.226,...,2.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [38]:
# Extract Batch Information for all students (Row index 2, Column index 1 assuming zero-based index)
batch =  (pd.read_excel(all_sem_file, header=None)).iloc[2, 1]  # Row 2, Column B in Excel (0-based index)
batch

'2022-2027'

In [39]:
# Extract Parents Names for all Students 
fathers_name = df_all_sem.loc[:,"Father’s Name"].reset_index(drop = True)
fathers_name = fathers_name.dropna()
fathers_name

0              Mr. Bharat
1        Mr. Rakesh Kumar
2               Mr. Pawan
3        Mr. Hemant Kumar
4           Mr. Sundarlal
5        Mr. Hemant Kumar
6              Mr. Amresh
7          Mr. Arun kumar
8            Mr. Narendra
9        Mr. Dinesh kumar
10    Mr. Kailash Chandra
11            Mr. Hareram
12             Mr. Yogesh
13              Mr. Ashok
14            Mr. Hareram
15          Mr. Rajeshwar
16        Mr. Kanhaiyalal
17              Mr. Rahul
18       Mr. Radhakrishna
19             Mr. Vikram
20              Mr. Vinay
21       Mr. Mukesh kumar
Name: Father’s Name, dtype: object

In [40]:
mothers_name = df_all_sem.loc[:,"Mother’s Name"].reset_index(drop = True)
mothers_name = mothers_name.dropna()
mothers_name

0     Mrs. Manisha
1       Mrs. Anita
2      Mrs. Monika
3       Mrs. Rajni
4      Mrs. Rachna
5       Mrs. Rajni
6     Mrs. Kalpana
7      Mrs. Anjali
8      Mrs. Chanda
9      Mrs. Sunita
10    Mrs. Archana
11      Mrs. Durga
12     Mrs. Shweta
13      Mrs. Rekha
14      Mrs. Durga
15      Mrs. Geeta
16      Mrs. Laxmi
17      Mrs. Rakhi
18     Mrs. Puspha
19      Mrs. Nand
20    Mrs. Sheetal
21      Mrs. Pooja
Name: Mother’s Name, dtype: object

In [41]:

# Extract roll numbers from column C (index 2) starting from row 4 (index 3)
roll_numbers = df_excel.iloc[3:, 2].reset_index(drop=True)
type(roll_numbers)
roll_numbers

0     22IOT5001
1     22IOT5002
2     22IOT5003
3     22IOT5004
4     22IOT5005
5     22IOT5006
6     22IOT5007
7     22IOT5008
8     22IOT5009
9     22IOT5010
10    22IOT5011
11    22IOT5012
12    22IOT5013
13    22IOT5014
14    22IOT5015
15    22IOT5016
16    22IOT5017
17    22IOT5019
18    22IOT5020
19    22IOT5021
20    22IOT5022
21    22IOT5023
Name: 2, dtype: object

In [42]:
#current_semester = sem_sheet.split('_')[0] # Extracting Current Semester from file name.
sem_number = int(roll_numbers[0][5:-3]) # Extracting Semester Number from roll number.
current_semester = "SEM-" + str(toRoman(sem_number))
semester_attempt = "Attempt_"+str(sem_number)
current_semester,sem_number,semester_attempt

('SEM-V', 5, 'Attempt_5')

In [43]:
attempts = df_all_sem.loc[:,semester_attempt]
attempts = attempts.dropna()
attempts = attempts.astype(int)
attempts

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
Name: Attempt_5, dtype: int32

In [44]:
marksheet_status = attempts.apply(lambda x: "O" if x ==1 else "M") # O for Original and M for Modified Marksheet (represents ATKT)
marksheet_status

0     O
1     O
2     O
3     O
4     O
5     O
6     O
7     O
8     O
9     O
10    O
11    O
12    O
13    O
14    O
15    O
16    O
17    O
18    O
19    O
20    O
21    O
Name: Attempt_5, dtype: object

In [45]:
# Extract enrollment numbers from column D (index 3) starting from row 4 (index 3)
enrollment_numbers = df_excel.iloc[3:, 3].reset_index(drop=True)
enrollment_numbers

0     DE2202031
1     DE2202225
2     DE2202284
3     DE2202272
4     DE2202118
5     DE2202273
6     DE2202032
7     DE2202285
8     DE2202119
9     DE2202165
10    DE2202081
11    DE2202082
12    DE2202083
13    DE2202120
14    DE2202084
15    DE2202166
16    DE2202121
17    DE2202122
18    DE2202085
19    DE2202167
20    DE2202291
21    DE2202086
Name: 3, dtype: object

In [72]:
subject_codes = df_excel.iloc[0, 4:].reset_index(drop=True)
subject_codes = subject_codes.dropna().reset_index(drop=True).apply(lambda x:x.strip()) # Drop columns where all values are NaN
subject_codes

0    IN6A-301
1    IN6A-303
2    IN6A-303
3    IN6A-305
4    IN6A-305
5    IN6A-307
6    IN6A-307
7    IN6A-311
8    IN6A-311
9    IN6A-331
Name: 0, dtype: object

In [16]:
total_subjects = len(subject_codes)
total_subjects

10

In [52]:
credits = df_excel.iloc[2, 4:4+total_subjects].reset_index(drop=True)
total_credits = sum(credits)
credits , total_credits

(0    4
 1    3
 2    2
 3    3
 4    2
 5    4
 6    2
 7    4
 8    2
 9    4
 Name: 2, dtype: object,
 30)

## .loc and .iloc functionalities 
- `.loc[]` in Pandas includes both start and end indexes when using slicing.
- This behavior is different from Python's default slicing, where the end index is excluded (e.g., `list[0:5]` would return elements at index 0 to 4).
- `.iloc[]` excludes the end index, unlike .loc[].

### Key Difference:
- `.loc[start:end, :]` → Includes both start and end indices.
- `.iloc[start:end, :]` → Excludes the end index (follows Python's default slicing behavior).

| Method                | Start Index | End Index  |
|-----------------------|------------|------------|
| `df.loc[start:end, :]`  | Included   | Included   |
| `df.iloc[start:end, :]` | Included   | Excluded   |

Note : If you want to exclude row 23, use df.loc[0:22, :].

So if you want to include row index 23, you must write:

`.loc[0:23, :]`

`.iloc[0:24, :]` (since `.iloc[]` excludes 24)

In [53]:
#sgpa = df_excel.iloc[3:, 4 + total_subjects ].reset_index(drop=True)
sgpa = df_excel.iloc[3:, 4 + total_subjects ].reset_index(drop=True)
sgpa

0     7.633
1         6
2     5.433
3         6
4     5.867
5     5.033
6     8.767
7     7.733
8     8.467
9     5.433
10      8.5
11    7.933
12    7.833
13      9.2
14      8.7
15      9.2
16    7.333
17      7.6
18      6.7
19    6.733
20    7.533
21      6.2
Name: 14, dtype: object

In [54]:
results = df_excel.iloc[3:, 5 + total_subjects].reset_index(drop=True)
results

0     PASS
1     PASS
2     ATKT
3     PASS
4     PASS
5     ATKT
6     PASS
7     PASS
8     PASS
9     ATKT
10    PASS
11    PASS
12    PASS
13    PASS
14    PASS
15    PASS
16    PASS
17    PASS
18    PASS
19    PASS
20    PASS
21    PASS
Name: 15, dtype: object

In [55]:
subjects = df_excel.iloc[:,4:4 + total_subjects].reset_index(drop=True)
subjects

,4,5,6,7,8,9,10,11,12,13
0,IN6A-301,IN6A-303,IN6A-303,IN6A-305,IN6A-305,IN6A-307,IN6A-307,IN6A-311,IN6A-311,IN6A-331
1,Process Control and Automation,Microcontroller Based System Design TH,Microcontroller Based System Design PR,Data Communication TH,Data Communication PR,Signal and Systems TH,Signal and Systems PR,Optimization Algorithms and Techniques TH,Optimization Algorithms and Techniques PR,Comprehensive Viva Voce
2,4,3,2,3,2,4,2,4,2,4
3,B+,C,A+,B,A+,A,A+,A,A+,A
4,C,P,A,P,A,C,A,B,A,B+
5,P,F,B+,C,B+,C,B+,B+,B+,B+
6,C,P,A,P,A,C,A,B,A,B+
7,B,P,B+,P,B+,P,B+,B+,B+,B+
8,P,F,B+,C,B+,P,B+,C,B+,B+
9,A+,B,O,B+,O,A,O,A+,O,O
10,A,C,A+,B+,A+,B+,A+,A,A+,A
11,A,C,O,A+,O,A,O,A,O,A+
12,B,C,B+,F,B+,P,B+,B,B+,B+
13,A+,B,A+,B+,A+,A,A+,O,A+,A+
14,A,P,A+,B,A+,A,A+,A+,A+,A+
15,B+,B,A+,B+,A+,B+,A+,A,A+,A+
16,A,B+,O,A+,O,O,O,A+,O,O
17,A+,B,O,A+,O,B+,O,A+,O,A+
18,A+,B+,O,A+,O,A+,O,A+,O,O
19,B,P,A,A,A,A,A,B+,A,A+
20,B+,C,A+,B+,A+,B+,A+,B+,A+,A+
21,B+,C,A,B,A,P,A,B+,A,A
22,C,C,A,C,A,B+,A,B+,A,A
23,B+,P,A+,B,A+,B,A+,A+,A+,A+
24,C,P,B+,B,B+,B+,B+,C,B+,A

In [56]:
subjects.columns = range(total_subjects)
subjects

,0,1,2,3,4,5,6,7,8,9
0,IN6A-301,IN6A-303,IN6A-303,IN6A-305,IN6A-305,IN6A-307,IN6A-307,IN6A-311,IN6A-311,IN6A-331
1,Process Control and Automation,Microcontroller Based System Design TH,Microcontroller Based System Design PR,Data Communication TH,Data Communication PR,Signal and Systems TH,Signal and Systems PR,Optimization Algorithms and Techniques TH,Optimization Algorithms and Techniques PR,Comprehensive Viva Voce
2,4,3,2,3,2,4,2,4,2,4
3,B+,C,A+,B,A+,A,A+,A,A+,A
4,C,P,A,P,A,C,A,B,A,B+
5,P,F,B+,C,B+,C,B+,B+,B+,B+
6,C,P,A,P,A,C,A,B,A,B+
7,B,P,B+,P,B+,P,B+,B+,B+,B+
8,P,F,B+,C,B+,P,B+,C,B+,B+
9,A+,B,O,B+,O,A,O,A+,O,O
10,A,C,A+,B+,A+,B+,A+,A,A+,A
11,A,C,O,A+,O,A,O,A,O,A+
12,B,C,B+,F,B+,P,B+,B,B+,B+
13,A+,B,A+,B+,A+,A,A+,O,A+,A+
14,A,P,A+,B,A+,A,A+,A+,A+,A+
15,B+,B,A+,B+,A+,B+,A+,A,A+,A+
16,A,B+,O,A+,O,O,O,A+,O,O
17,A+,B,O,A+,O,B+,O,A+,O,A+
18,A+,B+,O,A+,O,A+,O,A+,O,O
19,B,P,A,A,A,A,A,B+,A,A+
20,B+,C,A+,B+,A+,B+,A+,B+,A+,A+
21,B+,C,A,B,A,P,A,B+,A,A
22,C,C,A,C,A,B+,A,B+,A,A
23,B+,P,A+,B,A+,B,A+,A+,A+,A+
24,C,P,B+,B,B+,B+,B+,C,B+,A

In [22]:
grades = subjects.iloc[3:, :].reset_index(drop=True)
grades

     0   1   2   3   4   5   6   7   8   9
0   B+   C  A+   B  A+   A  A+   A  A+   A
1    C   P   A   P   A   C   A   B   A  B+
2    P   F  B+   C  B+   C  B+  B+  B+  B+
3    C   P   A   P   A   C   A   B   A  B+
4    B   P  B+   P  B+   P  B+  B+  B+  B+
5    P   F  B+   C  B+   P  B+   C  B+  B+
6   A+   B   O  B+   O   A   O  A+   O   O
7    A   C  A+  B+  A+  B+  A+   A  A+   A
8    A   C   O  A+   O   A   O   A   O  A+
9    B   C  B+   F  B+   P  B+   B  B+  B+
10  A+   B  A+  B+  A+   A  A+   O  A+  A+
11   A   P  A+   B  A+   A  A+  A+  A+  A+
12  B+   B  A+  B+  A+  B+  A+   A  A+  A+
13   A  B+   O  A+   O   O   O  A+   O   O
14  A+   B   O  A+   O  B+   O  A+   O  A+
15  A+  B+   O  A+   O  A+   O  A+   O   O
16   B   P   A   A   A   A   A  B+   A  A+
17  B+   C  A+  B+  A+  B+  A+  B+  A+  A+
18  B+   C   A   B   A   P   A  B+   A   A
19   C   C   A   C   A  B+   A  B+   A   A
20  B+   P  A+   B  A+   B  A+  A+  A+  A+
21   C   P  B+   B  B+  B+  B+   C  B+   A

In [57]:
grade_points = {'O':10, 'A+':9, 'A':8, 'B+':7, 'B':6, 'C':5, 'P':4, 'F':0, 'Ab':0} # Dictionary for Grade points with respective grade.
grade_points

{'O': 10, 'A+': 9, 'A': 8, 'B+': 7, 'B': 6, 'C': 5, 'P': 4, 'F': 0, 'Ab': 0}

In [58]:

# Replace grades with corresponding grade points
grade_points_df = grades.replace(grade_points)
grade_points_df

C:\Users\91989\AppData\Local\Temp\ipykernel_9212\124565771.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  grade_points_df = grades.replace(grade_points)

    0  1   2  3   4   5   6   7   8   9
0   7  5   9  6   9   8   9   8   9   8
1   5  4   8  4   8   5   8   6   8   7
2   4  0   7  5   7   5   7   7   7   7
3   5  4   8  4   8   5   8   6   8   7
4   6  4   7  4   7   4   7   7   7   7
5   4  0   7  5   7   4   7   5   7   7
6   9  6  10  7  10   8  10   9  10  10
7   8  5   9  7   9   7   9   8   9   8
8   8  5  10  9  10   8  10   8  10   9
9   6  5   7  0   7   4   7   6   7   7
10  9  6   9  7   9   8   9  10   9   9
11  8  4   9  6   9   8   9   9   9   9
12  7  6   9  7   9   7   9   8   9   9
13  8  7  10  9  10  10  10   9  10  10
14  9  6  10  9  10   7  10   9  10   9
15  9  7  10  9  10   9  10   9  10  10
16  6  4   8  8   8   8   8   7   8   9
17  7  5   9  7   9   7   9   7   9   9
18  7  5   8  6   8   4   8   7   8   8
19  5  5   8  5   8   7   8   7   8   8
20  7  4   9  6   9   6   9   9   9   9
21  5  4   7  6   7   7   7   5   7   8

In [59]:
credits_earn = grade_points_df.mul(credits, axis=1).sum(axis=1)
credits_earn

0     229
1     180
2     163
3     180
4     176
5     151
6     263
7     232
8     254
9     163
10    255
11    238
12    235
13    276
14    261
15    276
16    220
17    228
18    201
19    202
20    226
21    186
dtype: object

In [60]:
subjects_names = subjects.iloc[1,:]
subjects_names

0               Process Control and Automation
1       Microcontroller Based System Design TH
2       Microcontroller Based System Design PR
3                        Data Communication TH
4                        Data Communication PR
5                        Signal and Systems TH
6                        Signal and Systems PR
7    Optimization Algorithms and Techniques TH
8    Optimization Algorithms and Techniques PR
9                      Comprehensive Viva Voce
Name: 1, dtype: object

In [61]:
credits

0    4
1    3
2    2
3    3
4    2
5    4
6    2
7    4
8    2
9    4
Name: 2, dtype: object

In [62]:
division = sgpa.apply(lambda x: 'FIRST WITH DISTINCTION' if x >= 8.0 
                      else ('FIRST' if x >= 6.5
                      else ('SECOND' if x >= 5.0 
                            else ('PASS' if x >= 4.0 else 'FAIL'))))
division

0                      FIRST
1                     SECOND
2                     SECOND
3                     SECOND
4                     SECOND
5                     SECOND
6     FIRST WITH DISTINCTION
7                      FIRST
8     FIRST WITH DISTINCTION
9                     SECOND
10    FIRST WITH DISTINCTION
11                     FIRST
12                     FIRST
13    FIRST WITH DISTINCTION
14    FIRST WITH DISTINCTION
15    FIRST WITH DISTINCTION
16                     FIRST
17                     FIRST
18                     FIRST
19                     FIRST
20                     FIRST
21                    SECOND
Name: 14, dtype: object

In [63]:
# Calculating CGPA according to Semesters (Total SGPA till current Semester)/semester_number
total_sgpa = df_all_sem.loc[:len(roll_numbers)-1 ,'Sem1':'Sem'+str(sem_number)].sum(axis=1)
cgpa = round(total_sgpa/sem_number,3)
cgpa

0     7.168
1     5.869
2     6.051
3     5.987
4     5.399
5     5.333
6     8.696
7     6.884
8     7.334
9     5.656
10    7.866
11    7.804
12    7.361
13    9.167
14    8.250
15    8.674
16    7.345
17    7.658
18    6.529
19    6.552
20    6.219
21    6.308
dtype: float64

In [64]:
# Deciding Month and Year of Semester Exam according to semesters.
if sem_number ==1 :
    YEAR = int(batch.split('-')[0])+1
    if YEAR == 2023:
        MONTH = "MARCH"
    else:
        MONTH = "JANUARY"

elif sem_number ==2 :
    YEAR = int(batch.split('-')[0])+1
    if YEAR == 2023:
        MONTH = "JULY"
    else:
        MONTH = "JUNE"

elif sem_number == 3:
    YEAR = int(batch.split('-')[0])+1
    MONTH = "DECEMBER"
elif sem_number == 4:
    YEAR = int(batch.split('-')[0]) + 2
    MONTH = "MAY"
elif sem_number == 5:
    YEAR = int(batch.split('-')[0]) + 2
    MONTH = "DECEMBER"
elif sem_number == 6:
    YEAR = int(batch.split('-')[0]) + 3
    MONTH = "MAY"
elif sem_number == 7:
    YEAR = int(batch.split('-')[0]) + 3
    MONTH = "DECEMBER"
elif sem_number == 8:
    YEAR = int(batch.split('-')[0]) + 4
    MONTH = "MAY"
elif sem_number == 9:
    YEAR = int(batch.split('-')[0]) + 4
    MONTH = "DECEMBER"
elif sem_number == 10:
    YEAR = int(batch.split('-')[1])
    MONTH = "MAY"


MONTH,YEAR

('DECEMBER', 2024)

In [80]:
provided_date = df_excel.iloc[0, 1].strip()
if provided_date != "" and provided_date.lower() != 'nan':
    _ , exam_month, exam_year = provided_date.split()
    MONTH = exam_month.upper()
    YEAR = int(exam_year)
MONTH,YEAR

('SEPEMBER', 2025)

In [65]:

# Extract Names of Student from column 'B' (index 1) starting from row 4 (index 3)
student_names = df_excel.iloc[3:, 1].reset_index(drop=True)
student_names

0               Adarsh Jat
1     Akshay kumar Diwaker
2             Ananya Goyal
3            Ananya Tewari
4              Aniket Arya
5           Anustha Tewari
6        Aryan Vishwakarma
7        Ayushi Richhariya
8          Deepak Sisodiya
9               Harsh Soni
10          Harshit Parmar
11           Khusbhu Patel
12         Kushagra Sharma
13              Param Sahu
14             Pooja Patel
15            Pragya Singh
16           Seema Patidar
17        Shrashti Vinayak
18           Shubham Yadav
19           Vaibhav Singh
20           Vaidish Joshi
21      Vishesh Chourasiya
Name: 1, dtype: object

In [66]:
# -----------------------------
# Step 2: Read the CSV file
# -----------------------------
# Load UTD.csv; here it's assumed that the CSV does not have a header.
df_utd = pd.read_csv(UTD_file, header=None)

In [67]:
# Extract Course Information for all students (Row index 0, Column index 1 assuming zero-based index)
course_name =  (pd.read_excel(all_sem_file, header=None)).iloc[0, 1]  # Row 2, Column B in Excel (0-based index)
# Extract stream Information for all students (Row index 1, Column index 1 assuming zero-based index)
stream =  (pd.read_excel(all_sem_file, header=None)).iloc[1, 1]  # Row 1, Column 1 in Excel (0-based index)
stream,course_name

('INTERNET OF THINGS (IOT)', 'M.TECH.')

In [68]:
# -----------------------------
# Step 3: Ensure UTD.csv has enough rows and columns
# -----------------------------
# Calculate required number of rows (roll/enrollment numbers etc. start at row 3)
required_rows = max(len(roll_numbers), len(enrollment_numbers)) + 2  # Account for first 2 rows
if len(df_utd) < required_rows:
    extra_rows = pd.DataFrame([[""] * df_utd.shape[1]] * (required_rows - len(df_utd)))
    df_utd = pd.concat([df_utd, extra_rows], ignore_index=True)

# Step 4: Fill constant data for all students
# -----------------------------
# For each student (starting at row 3 i.e. index 2), fill in columns A-F with constant values.
if "five" in course_name.lower() or "dual" in course_name.lower():
    course_full_name = "B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGREE 5 YRS."
else:
    course_full_name = f"{course_name} {stream}"

df_utd.iloc[2:required_rows, 0] = "DEVI AHILYA VISHWAVIDYALAYA INDORE"   # University Name (Column A)
df_utd.iloc[2:required_rows, 1] = "SCHOOL OF INSTRUMENTATION"     # College Name (Column B)
df_utd.iloc[2:required_rows, 2] = course_name              # Course Name in Short (Column C)
df_utd.iloc[2:required_rows, 3] = course_full_name      # Full Course Name (Column D)
df_utd.iloc[2:required_rows, 4] = course_full_name      # Full Course Name in Detail (Column E)
df_utd.iloc[2:required_rows, 5] = stream                  # Stream (Column F)
df_utd.iloc[2:required_rows, 7] = batch                                  # Session for Batch 
df_utd.iloc[2:required_rows, 18] = YEAR                                  # Year for Batch  
df_utd.iloc[2:required_rows, 19] = MONTH                                 # MONTH for Batch  
df_utd.iloc[2:required_rows, 23] = current_semester.split('-')[1]        # Semester for Batch , Extracting Semester Number . By SEM-I , spliting it by '-' and taking 2nd part of it.
df_utd.iloc[2:required_rows, 24] = current_semester.split('-')[0]        # Semester for Batch , Extracting Sem or Year Exam Type. By SEM-I , spliting it by '-' and taking 1st part of it.
df_utd.iloc[2:required_rows, 27] = total_credits                         # Total Credits for Batch
df_utd.iloc[2:required_rows, 339] = batch.split('-')[0]                  # Admission Year

In [69]:
# Extracting ABC_ID from file but only till required rows.(As per number of students)
abc_id = pd.read_excel(abc_file,header=0).loc[:required_rows-3,"ABC ID"].astype(str) # required rows-3 indicated included rows 
abc_id , type(abc_id[0])

(0     596-280-150-213
 1     421-378-202-166
 2     825-963-319-117
 3     659-245-554-237
 4     228-170-514-294
 5     412-256-617-196
 6     324-790-560-495
 7     874-245-815-209
 8     293-774-494-708
 9     319-591-831-300
 10    141-866-775-928
 11    945-574-277-643
 12    715-596-957-721
 13    946-002-344-541
 14    354-504-163-234
 15    748-802-812-950
 16    981-462-876-841
 17    381-939-955-534
 18    323-530-839-915
 19    792-051-202-227
 20    572-848-114-722
 21    454-381-262-035
 Name: ABC ID, dtype: object,
 str)

In [37]:
variable_data = {8: enrollment_numbers,  # Column : Data format
                 9: roll_numbers,
                10:student_names,
                13:fathers_name,
                14:mothers_name,
                16: marksheet_status,
                17: results,
                20: division,
                28: credits_earn,
                31: credits_earn,
                32: cgpa,
                34: sgpa,
                35: abc_id,
                38:student_names
                 }  # Dictionary of data to be written into UTD.csv

# Write data into UTD.csv
for column, values in variable_data.items():
    for i, value in enumerate(values):
        df_utd.iat[i + 2, column] = value

In [38]:
df_utd.shape

(24, 340)

In [39]:
# Filling the constant data Subject Name, Credit and Code for every student.
j=0
for i in range(total_subjects):
    df_utd.iloc[2:required_rows, 39 + j] = subjects_names[i]
    df_utd.iloc[2:required_rows, 40 + j] = subject_codes[i]
    df_utd.iloc[2:required_rows, 51 + j] = credits[i]
    j+=15

In [40]:
# Filling the Grades row-wise for each student in the interval of 15 columns for each subject.
k=0
for i in range(total_subjects):
    for j,grade in enumerate(grades.iloc[:,i]):

        if grade=='F' or grade=='Ab':
            df_utd.iat[2+j, 48 + k] = 'FAIL'
        else:
            df_utd.iat[2+j, 48 + k] = 'PASS'
            
        df_utd.iat[2+j, 49 + k] = grade
        df_utd.iat[2+j, 50 + k] = grade_points[grade]
        df_utd.iat[2+j, 52 + k] = grade_points[grade]*credits[i]
    k+=15

In [46]:
# -----------------------------
# Step 5: Save the updated CSV file
# -----------------------------
UTD_output_file = "UTD_test" + batch + '_' + current_semester + '.csv' # Creating a seperate CSV file for different semesters data.
#df_utd.to_csv(UTD_output_file, index=False, header=False)
df_utd.iloc[:, 3:8]  # Display only first 15 columns

,3,4,5,6,7
0,COURSE_NAME,COURSE_NAME_L,STREAM,STREAM_L,SESSION
1,FULL COURSE NAME,FULL COURSE NAME,STREAM,NaN,SESSION
2,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
3,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
4,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
5,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
6,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
7,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
8,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
9,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
10,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
11,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
12,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
13,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
14,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
15,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
16,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
17,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
18,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
19,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
20,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
21,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
22,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027
23,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,B.TECH.+M.TECH. (INTERNET OF THINGS) DUAL DEGR...,INTERNET OF THINGS (IOT),,2022-2027

In [123]:
df_utd.tail()

,0,1,2,3,4,5,6,7,8,9,...,330,331,332,333,334,335,336,337,338,339
19,DEVI AHILYA VISHWAVIDYALAYA INDORE,SCHOOL OF INSTRUMENTATION INDORE,INTEGRATED M.TECH (IOT),INTEGRATED MASTER OF TECHNOLOGY,INTEGRATED MASTER OF TECHNOLOGY,INTERNET OF THINGS,,2022-2027,DE2202122,22IOT5019,...,,,,,,,,,,2022
20,DEVI AHILYA VISHWAVIDYALAYA INDORE,SCHOOL OF INSTRUMENTATION INDORE,INTEGRATED M.TECH (IOT),INTEGRATED MASTER OF TECHNOLOGY,INTEGRATED MASTER OF TECHNOLOGY,INTERNET OF THINGS,,2022-2027,DE2202085,22IOT5020,...,,,,,,,,,,2022
21,DEVI AHILYA VISHWAVIDYALAYA INDORE,SCHOOL OF INSTRUMENTATION INDORE,INTEGRATED M.TECH (IOT),INTEGRATED MASTER OF TECHNOLOGY,INTEGRATED MASTER OF TECHNOLOGY,INTERNET OF THINGS,,2022-2027,DE2202167,22IOT5021,...,,,,,,,,,,2022
22,DEVI AHILYA VISHWAVIDYALAYA INDORE,SCHOOL OF INSTRUMENTATION INDORE,INTEGRATED M.TECH (IOT),INTEGRATED MASTER OF TECHNOLOGY,INTEGRATED MASTER OF TECHNOLOGY,INTERNET OF THINGS,,2022-2027,DE2202291,22IOT5022,...,,,,,,,,,,2022
23,DEVI AHILYA VISHWAVIDYALAYA INDORE,SCHOOL OF INSTRUMENTATION INDORE,INTEGRATED M.TECH (IOT),INTEGRATED MASTER OF TECHNOLOGY,INTEGRATED MASTER OF TECHNOLOGY,INTERNET OF THINGS,,2022-2027,DE2202086,22IOT5023,...,,,,,,,,,,2022