In [1]:
import pandas as pd
from roman import toRoman

In [2]:
sem_sheet = "SEM-I_master sheet_test.xls"
UTD_file = "UTD_test.csv"
all_sem_file = "student_detail_new.xls"

In [3]:

# -----------------------------
# Step 1: Read the Excel file
# -----------------------------
# Load the Excel file without headers so that rows and columns can be accessed by their index.
df_excel = pd.read_excel(sem_sheet, header=None)
df_excel

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,NaN,IN6A-101,IN6A-103,IN6A-105,IN6A-107,IN6A-111,IN6A-121,IN6A-131,NaN,NaN
1,Sr No.,Student Name,Roll Number,Enrolment Number,Engineering Mathematics-I,Applied Physics-I,Engineering Chemistry,Laboratory Work,Communication Skills,Introduction to Programming and Data Structure,Comprehensive Viva Voce,SGPA,Result
2,NaN,NaN,NaN,Credits :-,4,4,4,4,4,4,4,NaN,NaN
3,1,Aamir Khan,22IOT1001,DE220203,C,C,B+,A+,A,B,A,6.857,PASS
4,2,Akshay Kumar,22IOT1002,DE220204,P,C,B,B+,A,P,B+,5.857,PASS
5,3,Ananya Pandey,22IOT1003,DE220205,P,B,P,A,B+,C,B+,5.857,PASS

In [4]:
df_all_sem = pd.read_excel(all_sem_file, header=3)
df_all_sem

,Sr No,Name,Roll No.,Enrolment No.,Father’s Name,Mother’s Name,Sem1,Sem2,Sem3,Sem4,...,Attempt_2,Attempt_3,Attempt_4,Attempt_5,Attempt_6,Attempt_7,Attempt_8,Attempt_9,Attempt_10,Comment
0,1.0,Aamir Khan,22IOT4001,DE220203,Mr. Bharat,Mrs. Manisha,6.857,6.733,7.071,7.548,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,
1,2.0,Akshay kumar,22IOT4002,DE220204,Mr. Rakesh Kumar,Mrs. Anita,5.857,6.000,5.714,5.774,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,
2,3.0,Ananya Pandey,22IOT4003,DE220205,Mr. Pawan,Mrs. Monika,5.857,6.400,6.500,6.065,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [5]:
# Extract Batch Information for all students (Row index 2, Column index 1 assuming zero-based index)
batch =  (pd.read_excel(all_sem_file, header=None)).iloc[2, 1]  # Row 2, Column B in Excel (0-based index)
batch

'2022-2027'

In [6]:
# Extract Parents Names for all Students 
fathers_name = df_all_sem.loc[:,"Father’s Name"].reset_index(drop = True)
fathers_name = fathers_name.dropna()
fathers_name

0          Mr. Bharat
1    Mr. Rakesh Kumar
2           Mr. Pawan
Name: Father’s Name, dtype: object

In [7]:
mothers_name = df_all_sem.loc[:,"Mother’s Name"].reset_index(drop = True)
mothers_name = mothers_name.dropna()
mothers_name

0    Mrs. Manisha
1      Mrs. Anita
2     Mrs. Monika
Name: Mother’s Name, dtype: object

In [8]:

# Extract roll numbers from column C (index 2) starting from row 4 (index 3)
roll_numbers = df_excel.iloc[3:, 2].reset_index(drop=True)
type(roll_numbers)
roll_numbers

0    22IOT1001
1    22IOT1002
2    22IOT1003
Name: 2, dtype: object

In [9]:
#current_semester = sem_sheet.split('_')[0] # Extracting Current Semester from file name.
sem_number = int(roll_numbers[0][5:-3]) # Extracting Semester Number from roll number.
current_semester = "SEM-" + str(toRoman(sem_number))
semester_attempt = "Attempt_"+str(sem_number)
current_semester,sem_number,semester_attempt

('SEM-I', 1, 'Attempt_1')

In [10]:
attempts = df_all_sem.loc[:,semester_attempt]
attempts = attempts.dropna()
attempts = attempts.astype(int)
attempts

0    1
1    2
2    2
Name: Attempt_1, dtype: int32

In [11]:
marksheet_status = attempts.apply(lambda x: "O" if x ==1 else "M") # O for Original and M for Modified Marksheet (represents ATKT)
marksheet_status

0    O
1    M
2    M
Name: Attempt_1, dtype: object

In [12]:
# Extract enrollment numbers from column D (index 3) starting from row 4 (index 3)
enrollment_numbers = df_excel.iloc[3:, 3].reset_index(drop=True)
enrollment_numbers

0    DE220203
1    DE220204
2    DE220205
Name: 3, dtype: object

In [13]:
credits = df_excel.iloc[2, 4:].reset_index(drop=True)
credits = credits.dropna()
credits

0    4
1    4
2    4
3    4
4    4
5    4
6    4
Name: 2, dtype: object

In [14]:
total_subjects, total_credits = len(credits), sum(credits)
total_credits, total_subjects

(28, 7)

## .loc and .iloc functionalities 
- `.loc[]` in Pandas includes both start and end indexes when using slicing.
- This behavior is different from Python's default slicing, where the end index is excluded (e.g., `list[0:5]` would return elements at index 0 to 4).
- `.iloc[]` excludes the end index, unlike .loc[].

### Key Difference:
- `.loc[start:end, :]` → Includes both start and end indices.
- `.iloc[start:end, :]` → Excludes the end index (follows Python's default slicing behavior).

| Method                | Start Index | End Index  |
|-----------------------|------------|------------|
| `df.loc[start:end, :]`  | Included   | Included   |
| `df.iloc[start:end, :]` | Included   | Excluded   |

Note : If you want to exclude row 23, use df.loc[0:22, :].

So if you want to include row index 23, you must write:

`.loc[0:23, :]`

`.iloc[0:24, :]` (since `.iloc[]` excludes 24)

In [15]:
#sgpa = df_excel.iloc[3:, 4 + total_subjects ].reset_index(drop=True)
sgpa = df_excel.iloc[3:, 4 + total_subjects ].reset_index(drop=True)
sgpa

0    6.857
1    5.857
2    5.857
Name: 11, dtype: object

In [16]:
results = df_excel.iloc[3:, 5 + total_subjects].reset_index(drop=True)
results

0    PASS
1    PASS
2    PASS
Name: 12, dtype: object

In [17]:
subjects = df_excel.iloc[:,4:4 + total_subjects].reset_index(drop=True)
subjects

,4,5,6,7,8,9,10
0,IN6A-101,IN6A-103,IN6A-105,IN6A-107,IN6A-111,IN6A-121,IN6A-131
1,Engineering Mathematics-I,Applied Physics-I,Engineering Chemistry,Laboratory Work,Communication Skills,Introduction to Programming and Data Structure,Comprehensive Viva Voce
2,4,4,4,4,4,4,4
3,C,C,B+,A+,A,B,A
4,P,C,B,B+,A,P,B+
5,P,B,P,A,B+,C,B+

In [18]:
subjects.columns = range(total_subjects)
subjects

,0,1,2,3,4,5,6
0,IN6A-101,IN6A-103,IN6A-105,IN6A-107,IN6A-111,IN6A-121,IN6A-131
1,Engineering Mathematics-I,Applied Physics-I,Engineering Chemistry,Laboratory Work,Communication Skills,Introduction to Programming and Data Structure,Comprehensive Viva Voce
2,4,4,4,4,4,4,4
3,C,C,B+,A+,A,B,A
4,P,C,B,B+,A,P,B+
5,P,B,P,A,B+,C,B+

In [19]:
grades = subjects.iloc[3:, :].reset_index(drop=True)
grades

   0  1   2   3   4  5   6
0  C  C  B+  A+   A  B   A
1  P  C   B  B+   A  P  B+
2  P  B   P   A  B+  C  B+

In [20]:
grade_points = {'O':10, 'A+':9, 'A':8, 'B+':7, 'B':6, 'C':5, 'P':4, 'F':0, 'Ab':0} # Dictionary for Grade points with respective grade.
grade_points

{'O': 10, 'A+': 9, 'A': 8, 'B+': 7, 'B': 6, 'C': 5, 'P': 4, 'F': 0, 'Ab': 0}

In [21]:

# Replace grades with corresponding grade points
grade_points_df = grades.replace(grade_points)
grade_points_df

C:\Users\91989\AppData\Local\Temp\ipykernel_3516\124565771.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  grade_points_df = grades.replace(grade_points)

   0  1  2  3  4  5  6
0  5  5  7  9  8  6  8
1  4  5  6  7  8  4  7
2  4  6  4  8  7  5  7

In [22]:
credits_earn = grade_points_df.mul(credits, axis=1).sum(axis=1)
credits_earn

0    192
1    164
2    164
dtype: object

In [23]:
subjects_id = subjects.iloc[0,:] # Extracting Subject IDs from first row of subjects
subjects_id

0    IN6A-101
1    IN6A-103
2    IN6A-105
3    IN6A-107
4    IN6A-111
5    IN6A-121
6    IN6A-131
Name: 0, dtype: object

In [24]:
subjects_names = subjects.iloc[1,:]
subjects_names

0                         Engineering Mathematics-I
1                                 Applied Physics-I
2                             Engineering Chemistry
3                                   Laboratory Work
4                              Communication Skills
5    Introduction to Programming and Data Structure
6                           Comprehensive Viva Voce
Name: 1, dtype: object

In [25]:
credits

0    4
1    4
2    4
3    4
4    4
5    4
6    4
Name: 2, dtype: object

In [26]:
division = sgpa.apply(lambda x: 'FIRST WITH DISTINCTION' if x >= 8.0 
                      else ('FIRST' if x >= 6.5
                      else ('SECOND' if x >= 5.0 
                            else ('PASS' if x >= 4.0 else 'FAIL'))))
division

0     FIRST
1    SECOND
2    SECOND
Name: 11, dtype: object

In [27]:
# Calculating CGPA according to Semesters (Total SGPA till current Semester)/semester_number
total_sgpa = df_all_sem.loc[:len(roll_numbers)-1 ,'Sem1':'Sem'+str(sem_number)].sum(axis=1)
cgpa = round(total_sgpa/sem_number,3)
cgpa

0    6.857
1    5.857
2    5.857
dtype: float64

In [28]:
# Deciding Month and Year of Semester Exam according to semesters.
if sem_number ==1 :
    YEAR = int(batch.split('-')[0])+1
    if YEAR == 2023:
        MONTH = "MARCH"
    else:
        MONTH = "JANUARY"

elif sem_number ==2 :
    YEAR = int(batch.split('-')[0])+1
    if YEAR == 2023:
        MONTH = "JULY"
    else:
        MONTH = "JUNE"

elif sem_number == 3:
    YEAR = int(batch.split('-')[0])+1
    MONTH = "DECEMBER"
elif sem_number == 4:
    YEAR = int(batch.split('-')[0]) + 2
    MONTH = "MAY"
elif sem_number == 5:
    YEAR = int(batch.split('-')[0]) + 2
    MONTH = "DECEMBER"
elif sem_number == 6:
    YEAR = int(batch.split('-')[0]) + 3
    MONTH = "MAY"
elif sem_number == 7:
    YEAR = int(batch.split('-')[0]) + 3
    MONTH = "DECEMBER"
elif sem_number == 8:
    YEAR = int(batch.split('-')[0]) + 4
    MONTH = "MAY"
elif sem_number == 9:
    YEAR = int(batch.split('-')[0]) + 4
    MONTH = "DECEMBER"
elif sem_number == 10:
    YEAR = int(batch.split('-')[1])
    MONTH = "MAY"


MONTH,YEAR

('MARCH', 2023)

In [29]:

# Extract Names of Student from column 'B' (index 1) starting from row 4 (index 3)
student_names = df_excel.iloc[3:, 1].reset_index(drop=True)
student_names

0       Aamir Khan
1     Akshay Kumar
2    Ananya Pandey
Name: 1, dtype: object

In [30]:
# -----------------------------
# Step 2: Read the CSV file
# -----------------------------
# Load UTD.csv; here it's assumed that the CSV does not have a header.
df_utd = pd.read_csv(UTD_file, header=None)

In [31]:

# -----------------------------
# Step 3: Ensure UTD.csv has enough rows and columns
# -----------------------------
# Calculate required number of rows (roll/enrollment numbers etc. start at row 3)
required_rows = max(len(roll_numbers), len(enrollment_numbers)) + 2  # Account for first 2 rows
if len(df_utd) < required_rows:
    extra_rows = pd.DataFrame([[""] * df_utd.shape[1]] * (required_rows - len(df_utd)))
    df_utd = pd.concat([df_utd, extra_rows], ignore_index=True)

# Step 4: Fill constant data for all students
# -----------------------------
# For each student (starting at row 3 i.e. index 2), fill in columns A-F with constant values.

df_utd.iloc[2:required_rows, 0] = "DEVI AHILYA VISHWAVIDYALAYA INDORE"   # University Name (Column A)
df_utd.iloc[2:required_rows, 1] = "SCHOOL OF INSTRUMENTATION INDORE"     # College Name (Column B)
df_utd.iloc[2:required_rows, 2] = "INTEGRATED M.TECH (IOT)"              # Course Name in Short (Column C)
df_utd.iloc[2:required_rows, 3] = "INTEGRATED MASTER OF TECHNOLOGY"      # Full Course Name (Column D)
df_utd.iloc[2:required_rows, 4] = "INTEGRATED MASTER OF TECHNOLOGY"      # Full Course Name in Detail (Column E)
df_utd.iloc[2:required_rows, 5] = "INTERNET OF THINGS"                   # Stream (Column F)
df_utd.iloc[2:required_rows, 7] = batch                                  # Session for Batch 
df_utd.iloc[2:required_rows, 18] = YEAR                                  # Year for Batch  
df_utd.iloc[2:required_rows, 19] = MONTH                                 # MONTH for Batch  
df_utd.iloc[2:required_rows, 23] = current_semester.split('-')[1]        # Semester for Batch , Extracting Semester Number . By SEM-I , spliting it by '-' and taking 2nd part of it.
df_utd.iloc[2:required_rows, 24] = current_semester.split('-')[0]        # Semester for Batch , Extracting Sem or Year Exam Type. By SEM-I , spliting it by '-' and taking 1st part of it.
df_utd.iloc[2:required_rows, 27] = total_credits                         # Total Credits for Batch
df_utd.iloc[2:required_rows, 339] = batch.split('-')[0]                  # Admission Year

In [32]:
variable_data = {8: enrollment_numbers,  # Column : Data format
                 9: roll_numbers,
                10:student_names,
                13:fathers_name,
                14:mothers_name,
                16: marksheet_status,
                17: results,
                20: division,
                28: credits_earn,
                31: credits_earn,
                32: cgpa,
                34: sgpa,
                38:student_names
                 }  # Dictionary of data to be written into UTD.csv

# Write data into UTD.csv
for column, values in variable_data.items():
    for i, value in enumerate(values):
        df_utd.iat[i + 2, column] = value

In [33]:
df_utd.shape

(5, 340)

In [34]:
# Filling the constant data Subject Name, Credit and Code for every student.
j=0
for i in range(total_subjects):
    df_utd.iloc[2:required_rows, 39 + j] = subjects_names[i]
    df_utd.iloc[2:required_rows, 40 + j] = subjects_id[i]
    df_utd.iloc[2:required_rows, 51 + j] = credits[i]
    j+=15

In [35]:
# Filling the Grades row-wise for each student in the interval of 15 columns for each subject.
k=0
for i in range(total_subjects):
    for j,grade in enumerate(grades.iloc[:,i]):

        if grade=='F' or grade=='Ab':
            df_utd.iat[2+j, 48 + k] = 'FAIL'
        else:
            df_utd.iat[2+j, 48 + k] = 'PASS'
            
        df_utd.iat[2+j, 49 + k] = grade
        df_utd.iat[2+j, 50 + k] = grade_points[grade]
        df_utd.iat[2+j, 52 + k] = grade_points[grade]*credits[i]
    k+=15

In [37]:
# -----------------------------
# Step 5: Save the updated CSV file
# -----------------------------
UTD_output_file = "UTD_test" + batch + '_' + current_semester + '.csv' # Creating a seperate CSV file for different semesters data.
#df_utd.to_csv(UTD_output_file, index=False, header=False)
df_utd.iloc[:, 335:]  # Display only first 15 columns

,335,336,337,338,339
0,SUB20_GRADE_POINTS,SUB20_CREDIT,SUB20_CREDIT_POINTS,SUB20_REMARKS,ADMISSION_YEAR
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,2022
3,NaN,NaN,NaN,NaN,2022
4,NaN,NaN,NaN,NaN,2022

In [ ]:
df_utd.tail()